
body {
    background-color: #dedede;
}

h1 {
    text-align: center;
    font-family:Arial, sans-serif;
    font-size: 32px;
}

a {
    color: #000;
    text-decoration: none;
    font-family:Arial, sans-serif;
}

p {
   font-size: 25px;
   font-family:Arial, sans-serif;
}

img{
  width:100%;
}


p{
  text-align:center;
}

div img{
    width:150px;
    height: 150px;
    display:block;
    margin:auto;
}

div{
  display: inline-block;
  width: 24%;
  margin: 5px;
  padding: 2px;
}

@media (min-width: 772px) {
    /* Điều chỉnh các phần tử có class 'col' (các div chính) */
    .col {
        width: 45%; /* Thay đổi độ rộng div thành 45% */
        float: left; /* **Quan trọng:** Để các div nằm ngang cạnh nhau */
        /* Cần thêm margin/padding để tạo khoảng cách giữa các div (tùy thuộc vào mã gốc) */
    }

    /* Điều chỉnh hình ảnh bên trong các div */
    .col img {
        max-height: 30vh; /* Chiều cao tối đa là 30% chiều cao khung nhìn */
    }
}

@media (min-width: 998px) {
    /* Điều chỉnh các phần tử có class 'col' (các div chính) */
    .col {
        width: 30%; /* Thay đổi độ rộng div thành 30% */
        /* Thuộc tính float: left; đã được kế thừa từ media query 772px */
    }
}






















/* 
main {
    border: 5px #000 solid;
    margin: 10px;
}
 */
/* 

.container {
    display: grid;
    grid-template-columns: 1fr;
    justify-items: center;
}
 */
/* img{
    width: 200px;
    height: 200px;
    padding: 5px;
} */

/* .child {
    position: relative;
    display: inline-block;
    border: 5px black solid;
    margin: 5px;
    border-radius: 5px;
} */

/* 

.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.button {
    display: inline-block;
    border: 2px solid #000;
    padding: 5px;
    border-radius: 25px;
}
 */
/* 
.button:hover {
    background-color:#fff;
} */

/* 
footer {
    display: flex;
    justify-content: center;
} */

/* 
header {
    border-radius: 5px;
    border: 5px #000 solid;
    margin: 10px;
} */

/* 
.label {
    display: none;
    position: absolute;
    top: 40%;
    left: 40%;
} */
/* 
.child:hover .label {
    display: block;
} */